.inputText {
    margin-bottom: 1em;
    padding: 0.6rem 4.5rem;
    font-weight: bold;
    border-radius: 3%;
    text-align: center;
    font-size: 1.5rem;
    box-shadow: black 2px 2px;
}

.saveButton {
    padding: 0.5rem 5rem;
    border-radius: 5%;
    background-color: rgba(255, 255, 255, 0.75);
    box-shadow: black 2px 2px;
    font-weight: bold;
    font-size: 1.5rem;
    margin-bottom: 1em;
}

.saveButton:active {
    box-shadow: none;
}